*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: linear-gradient(to right, red , yellow);
    perspective: 800px;
}

.flag-container:hover{
    transform: rotateY(180deg);
}


.flag-container{
    height: 50vh;
    margin: 130px 357px;
    /* border: 2px solid rgb(14, 13, 13); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: 2s;
    transform-style: preserve-3d;
}

.front{
     height: 100%;
     width: 100%;
}

.flag-container .orange{
    height: 33.35%;
    width: 100%;
    background-color: orange;
}

.flag-container .white{
    height: 33.35%;
    width: 100%;
    background-color: white;
}

.flag-container .green{
    height: 33.35%;
    width: 100%;
    background-color: green;
}

img{
    height: 100%;
    margin: auto 42%;
}

